{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Changed{% endblock %}

{% block main %}
    <div class="card border-primary m-auto mb-3" style="max-width: 30rem ;">
        <div class="card-header text-center">
            Password Changed
        </div>
        <div class="card-body">
            <div class="card text-text-center">
                <p>
                    Your password has been changed.
                    <a href="{% url 'account_login' %}">LOG IN</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
